$width: 315px;

.container {
    display: flex;
    flex-direction: column;
    width: $width;
}

.logo {
    width: 40px;
    align-self: center;
    margin-top: 57px;
}

.logoDivider {
    margin-top: 50px;
    width: 100%;
}

.signInHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.signInForm Input {
    width: 100%;
}

.signInItem :first-child {
    margin-top: 28px;
}

.signInFormItem {
    margin-top: 16px;
}

.signInFormButton {
    width: 100%;
}
