.container {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 317px;
}

.logoAndName {
    margin: 0 auto 38px auto;
}

.content {
    margin-top: 22px;
}

.title {
    font-size: 20px;
    margin-bottom: 28px;
}
