@use "../../styles/colors";

.tierContainer {
    display: flex;
    flex-direction: column;

    padding: 19px 14px 19px 15px;
    margin-top: 11px;
    margin-bottom: 16px;
    border: 1px solid colors.$gray5;
    width: 100%;
}

.tierTitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.tierTable td:first-child {
    color: colors.$gray8;
    padding-right: 20px;
}

.tierTable td {
    padding-bottom: 20px;
}

.tierTable {
    margin-bottom: 10px;
}

.tierButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footnote {
    color: colors.$gray7;
    margin-top: 8px;
}
