export FENNEL_ROOT="$( cd -- "$(dirname "$0")" >/dev/null 2>&1 ; pwd -P )"
export PYTHONPATH="$FENNEL_ROOT/../rexer-pyclient-alpha/rexerclient/gen:$PYTHONPATH"
setupDevEnv() {
  export KUBECONFIG=$FENNEL_ROOT/cloud/pulumi/ts/eks/kubeconfig-dev.json
}
alias devenv="setupDevEnv"

# flask specific variables
export FLASK_APP="$FENNEL_ROOT/pyconsole/app.py"
export FLASK_ENV=development

git config pull.rebase true

# configure delta as default git pager
git config core.pager delta
git config delta.navigate true
git config delta.line-numbers true

eval $(ssh-agents --name $USER)
export DOCKER_BUILDKIT=1

# this is needed to avoid a librdkafka bug on macOS
# https://github.com/edenhill/kcat/issues/209
ulimit -n 1024

# this file exports secrets needed for running integration tests
source $FENNEL_ROOT/testenv.rc

# Set fennel as default org in Pulumi.
if [ "$DISABLE_PULUMI" = true ] ; then
  echo 'not installing pulumi..'
else
  pulumi org set-default fennel
fi
