export FENNEL_ROOT="$( cd -- "$(dirname "$0")" >/dev/null 2>&1 ; pwd -P )"
export PYTHONPATH="$FENNEL_ROOT/pyclient/gen:$PYTHONPATH"
setupDevEnv() {
  export KUBECONFIG=$FENNEL_ROOT/cloud/pulumi/ts/eks/kubeconfig-dev.json
}
alias devenv="setupDevEnv"

# flask specific variables
export FLASK_APP="$FENNEL_ROOT/pyclient/app.py"
export FLASK_ENV=development

