export PLANE_ID=3
export KAFKA_SERVER_ADDRESS="pkc-pgq85.us-west-2.aws.confluent.cloud:9092"
export KAFKA_USERNAME="SJLSMRYRKYALJ4Q4"
export KAFKA_PASSWORD="fXy4iNu+x0SY0Qmiwm60YFl+BV5LzXqPPVdy1NoK+xeffGEggv77MXxCGT7YTNyk"

export MSK_KAFKA_SERVER_ADDRESS="b-1.p3kafkacluster.97sfo3.c10.kafka.us-west-2.amazonaws.com:9096,b-2.p3kafkacluster.97sfo3.c10.kafka.us-west-2.amazonaws.com:9096"
export MSK_KAFKA_USERNAME="p-3-username"
export MSK_KAFKA_PASSWORD="p-3-password"

export MYSQL_SERVER_ADDRESS="p-3-db-20220322025721191200000002.cluster-c00d7gkxaysk.us-west-2.rds.amazonaws.com"
export MYSQL_DATABASE_NAME="db"
export MYSQL_USERNAME="admin"
export MYSQL_PASSWORD="foundationdb"
export REDIS_SERVER_ADDRESS="clustercfg.p-3-redis-db-57b5586.fbjfph.memorydb.us-west-2.amazonaws.com:6379"
export CACHE_PRIMARY="clustercfg.p-3-cache-cluster-b20c9a6.fbjfph.usw2.cache.amazonaws.com:6379"
export KUBECONFIG="$FENNEL_ROOT/cloud/pulumi/ts/eks/kubeconfig-plane-3.json"
export AWS_ROLE_ARN="arn:aws:iam::030813887342:role/admin"
export MILVUS_URL="k8s-milvus-milvus-bd81afaa2e-36b8f1a6cfe90d93.elb.us-west-2.amazonaws.com:19530"
#export AIRBYTE_SERVER_ADDRESS="http://localhost:8002/api"

export MOTHERSHIP_ID=1
export MOTHERSHIP_MYSQL_ADDRESS="dw48w7ntx844.us-west-2.psdb.cloud"
export MOTHERSHIP_MYSQL_DBNAME="controldb"
export MOTHERSHIP_MYSQL_USERNAME="nehb2dtbg1hr"
export MOTHERSHIP_MYSQL_PASSWORD="pscale_pw_iOqKp0qepUAER8E-_APgydji6Ajj7fNQD7pfSseFYvg"

export JOB_NAME_BY_AGG="topk=t-106-topk,cf=t-106-cf"
export OFFLINE_AGG_BUCKET="t-106-offline-aggregate-output"

# TODO: Configure these for tier 106 correctly
export MODEL_STORE_S3_BUCKET="my-xgboost-test-bucket-2"
export MODEL_STORE_ENDPOINT="integration-test-endpoint"

# TODO: Add SageMakerArgs
export SAGEMAKER_INSTANCE_TYPE="ml.c5.large"
export SAGEMAKER_INSTANCE_COUNT=1

export AWS_REGION="us-west-2"
# dev tier ID
export TIER_ID=106
