export KAFKA_SERVER_ADDRESS="pkc-pgq85.us-west-2.aws.confluent.cloud:9092"
export KAFKA_USERNAME="55ZBCUQQJVHPAZRM"
export KAFKA_PASSWORD="jmtGVe4vTL8UBwntoYjfHpLLmo6clc9zm4+pqwuLkvdA0O+Tv/yRDRm/5KrppwgA"
export MYSQL_SERVER_ADDRESS="fenneldb-20220314043639794500000002.cluster-c00d7gkxaysk.us-west-2.rds.amazonaws.com"
export MYSQL_DATABASE_NAME="db"
export MYSQL_USERNAME="admin"
export MYSQL_PASSWORD="foundationdb"
export REDIS_SERVER_ADDRESS="clustercfg.redis-db-da7043b.fbjfph.memorydb.us-west-2.amazonaws.com:6379"
export CACHE_PRIMARY="clustercfg.cache-cluster-6fe46b5.fbjfph.usw2.cache.amazonaws.com:6379"
export KUBECONFIG="$FENNEL_ROOT/cloud/pulumi/ts/eks/kubeconfig-plane-2.json"
export AWS_ROLE_ARN="arn:aws:iam::030813887342:role/admin"

export MOTHERSHIP_ID=1
export MOTHERSHIP_MYSQL_ADDRESS="dw48w7ntx844.us-west-2.psdb.cloud"
export MOTHERSHIP_MYSQL_DBNAME="controldb"
export MOTHERSHIP_MYSQL_USERNAME="nehb2dtbg1hr"
export MOTHERSHIP_MYSQL_PASSWORD="pscale_pw_iOqKp0qepUAER8E-_APgydji6Ajj7fNQD7pfSseFYvg"

# in tests, we override this with a random tier ID but this is needed for prod
export TIER_ID=103
