{{ define "bridge/index.tmpl" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

		<title> {{.title}} </title>
	</head>
	<body>
		<div id="root" data-user="{{.user}}" data-tiers="{{.tiers}}" />
		<script type="text/javascript" src="/assets/clientapp.js"></script>
	</body>
</html>

{{ end }}
