{{ define "bridge/sign_on.tmpl" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

		<title> {{.title}} </title>
	</head>
	<body>
		<div
			id="root"
			data-page="{{.page}}"
			data-flash-msg-type="{{.flashMsg.flashMsgType}}"
			data-flash-msg-content="{{.flashMsg.flashMsgContent}}"
		/>
		<script type="text/javascript" src="{{.signOnBundlePath}}"> </script>
	</body>
</html>

{{ end }}
