@use "../../styles/colors";

.container {
    width: 100%;
    background-color: colors.$purple1;
    position: relative;
}

.banner {
    width: 472px;
    font-weight: 700;
    font-size: 44px;
    position: relative;
    top: 90px;
    left: 70px;
}

.pancake {
    position: absolute;
    right: 0;
    bottom: 0;
}

.jump {
    color: colors.$purple0;
}
