@use "../../styles/colors";

.page {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 317px;
    margin: 60px auto 20px auto;
}

.logo {
    align-self: center;
}

.logoDivider {
    height: 1px;
    width: 100%;
    background: colors.$gray5;
    margin-top: 38px;
}

.content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerAlt {
    font-size: 12px;
}

.mainForm {
    margin-top: 28px;
    margin-bottom: 16px;
}

.formItem {
    margin-bottom: 16px !important;
}

.formButton {
    width: 100%;
    border-radius: 4px;
}

.resendButton {
    width: 100%;
    border-radius: 4px;
}

.confirmEmailContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.confirmEmailContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.confirmEmailMessage {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.missEmail {
    margin-top: 64px;
    margin-bottom: 15px;
}

.forgot {
    font-size: 12px;
}
