@use "../../styles/colors";

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 545px;
    padding-left: 108px;
    padding-right: 120px;
    flex-shrink: 0;
}

.logo {
    width: 40px;
    align-self: center;
    margin-top: 57px;
}

.logoDivider {
    height: 1px;
    width: 100%;
    border-top: 1px solid #DDE0E5;
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.headerTitle {
    font-size: 20px;
}

.headerAlt {
    font-size: 12px;
    color: colors.$purple0;
}

.mainForm Input {
    width: 100%;
}

.formItem:first-child {
    margin-top: 28px;
}

.formItem {
    margin-top: 16px;
}

.formButton {
    width: 100%;
    border-radius: 4px;
}

.resendButton {
    width: 100%;
    border-radius: 4px;
}

.confirmEmailContainer {
    display: flex;
    margin-top: 10px;
}

.confirmEmailContent {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.missEmail {
    margin-top: 46px;
}
