<nav class="">
    <!-- flexbox -->
    <div class="">
        <!-- logo -->
        <div class="">
            <img src="images/favicon.svg" alt="logo" />
        </div>

        <div class="">
            Documentation
        </div>
    </div>
</nav>
