$gray1: #FFFFFF;
$gray2: #F8F6FB;
$gray3: #EFECF2;
$gray4: #E8E5ED;
$gray5: #D3CFDA;
$gray6: #AAA5B4;
$gray7: #AAA5B4;
$gray8: #696472;
$gray9: #4C4952;
$gray10: #3C3A40;
$gray11: #323035;
$gray12: #222124;
$gray13: #0C0C0D;

$purple1: #EFE3FE;
$purple2: #E6D2FF;
$purple3: #D4B1FF;
$purple4: #C08EFF;
$purple5: #A55EFF;
$purple6: #8D4AE3;
$purple7: #7B36D3;
$purple8: #6A22C5;
$purple9: #50119F;
$purple10: #380875;

$purple0: #9745FF; // sign on pages use a differnt purple
