@use "colors";

.container {
    display: flex;
    justify-content: space-between;

    height: 48px;
    border-bottom: 1px solid colors.$gray3;
    padding-right: 12px;
}

.leftNav {
    display: flex;
    align-items: center;
}

.leftNav > div {
    margin-left: 20px;
}

.rightNav {
    display: flex;
    align-items: center;
}

.divider {
    border-left: 1px solid #E7E3EC;
    height: 30px;
}

.menu {
    border-bottom: none;
}

.avatar {
    margin-left: 30px;
}

.avatarText {
    font-size: 12px;
}

.documentation {
    text-decoration: none;
    color: inherit;
}
