.container {
    display: flex;
    flex-direction: column;

    padding: 29px 128px 0px 128px;
}

.tabs {
    margin-top: 23px;
}

.tabContent {
    padding-top: 36px;
}

.title {
    font-size: 20px;
}
