// common styles for tabs

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.filtersContainer {
    display: flex;
    width: 100%;
    border: 1px #F0F2F5 solid;
    padding: 24px 24px 0px 15px;
    margin-bottom: 32px;
    gap: 50px;
}

.filter {
    flex-grow: 1;
}
