{{ define "console/app.html.tmpl" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

		<title>Fennel</title>
	</head>
	<body>
		<div id="root" data-user="{{.user}}" data-tiers="{{.tiers}}" />
		<script type="text/javascript" src="{{.featureAppBundlePath}}"> </script>
	</body>
</html>

{{ end }}
