@import '~antd/es/style/themes/default.less';
@import '~antd/dist/antd.less';

@purple6: #8D4AE3;
@purple5: #A55EFF;

@primary-color: @purple6;
@btn-primary-bg: @purple5;
@table-header-bg: white;

body {
    font-family: 'Roboto', sans-serif;
}
