.container {
  height: 100%;
}

.title {
  text-align: center;
  font-size: 54px;
  font-weight: 300;
  vertical-align: middle;

  margin: 0px 20px 0px 20px;
}

.links {
  text-align: center;

  margin: 0px 0px 15px 0px;
}

.link {
  color: black;

  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}

.curLink {
  color: black;
  font-weight: 700;

  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.consoleBody {
  display: flex;
}

.consoleForm {
  padding: 5px;

  margin: 0px 10px 0px 0px;
}

.consoleFormItem {
  margin: 5px;
}

.consoleFormItemLabel {
  padding: 5px;

  font-weight: 500;
  background-color: #777777;
  color: white;
}

.consoleFormItemInput {
  padding: 5px;

  background-color: #bbbbbb;
}

.consoleResult {
  width: 100%;
  margin: 0px 10px 0px 0px;
}

.consoleResultHeader {
  padding: 5px;
  padding-top: 20px;
  font-weight: 500;

  margin: 0px;
}

table {
  width: 100%;
}

table,
th,
td {
  border-style: solid;
  border-width: 1px;
}

th {
  color: #ffffff;
  background-color: #997799;
}

th,
td {
  padding: 5px;
}

.consoleFormSubmit {
  text-align: center;

  margin: 5px;
  padding: 5px;
}

.consoleFormSubmitButton {
  width: 100%;

  padding: 5px;
}

.timestamp {
  font-size: 15px;
}
